streamlit>=1.39.0
pandas>=2.2.0
numpy>=1.26.0
matplotlib>=3.8.0
earthengine-api>=0.1.400
google-cloud-storage>=2.16.0
google-auth>=2.27.0
google-auth-oauthlib>=1.2.0
google-auth-httplib2>=0.2.0
folium==0.15.1
streamlit-folium==0.15.0
